In [1]:
import pandas as pd
import json
from datetime import datetime

In [2]:
mono_df = pd.read_json("../data/MonobankTransactionHistory.json")

In [12]:
mono_df[mono_df.duplicated('receiptId')]

,id,time,description,mcc,originalMcc,amount,operationAmount,currencyCode,commissionRate,cashbackAmount,balance,hold,receiptId,type,full_date,month_number,week_number
2,6cexPC-Cv8T6zid9SkR7vBBmR7M,1735950685,Скасування. Glovo,4215,5499,288,28895,980,0,0,1603615,False,NaN,income,04.01.2025,1,1
9,jPExMfXrvzlWGVnBnQ,1735835661,Glovo,4215,5499,288,-28895,980,0,0,1978534,False,NaN,outcome,02.01.2025,1,1
13,D4Qeqw9rsAqRCli1ig,1735817837,Від: Ірина Гузюнь,4829,4829,10462,1046250,980,0,0,2895345,False,NaN,income,02.01.2025,1,1
20,sYhB4lLYLnW113eF9w,1735467521,Raiffeisen Online,8999,6012,4900,490000,980,0,0,2143721,False,NaN,income,29.12.2024,12,52
26,IC6PDdkbue_57m81KQ,1735032041,З доларової картки,4829,4829,33480,80000,840,0,0,3350873,False,NaN,income,24.12.2024,12,52
31,jQ3-8WrWpE3zTcoJAA,1734790597,Скасування. Uklon,4121,4121,100,10000,980,0,0,153773,False,NaN,income,21.12.2024,12,51
32,bi6dcv_m2-De6ujqOA,1734790593,Uklon,4121,4121,100,-10000,980,0,0,143773,False,NaN,outcome,21.12.2024,12,51
34,OkL4er1-Wmnf_8k8ID95zQ,1734652781,Glovo,4215,5499,223,-22314,980,0,0,214323,True,NaN,outcome,20.12.2024,12,51
35,UqspvEfAHfeRTYphJc1dz8T7Kls,1734652781,Скасування. Glovo,4215,5499,239,23952,980,0,0,236637,False,NaN,income,20.12.2024,12,51
39,eAmkv3khhfsZQPnpdA,1734535099,Glovo,4215,5499,239,-23952,980,0,0,414005,False,NaN,outcome,18.12.2024,12,51
45,JWa2ML8nAaG73id0wQ,1734265937,Від: Аліна Герасимюк,4829,4829,4000,400000,980,0,0,766092,False,NaN,income,15.12.2024,12,50
63,xNX4gQZxBcsSrvD0vQhFLA,1733619095,Glovo,4215,5499,373,-37339,980,0,0,1162583,True,NaN,outcome,08.12.2024,12,49
64,ksurvupuiU8B5W96gCh3G0adzss,1733619095,Скасування. Glovo,4215,5499,364,36463,980,0,0,1199922,False,NaN,income,08.12.2024,12,49
66,SzyBdmsR4zxp48uYdw,1733507547,Glovo,4215,5499,364,-36463,980,0,0,1171959,False,NaN,outcome,06.12.2024,12,49
67,TO9YnMk56B6C8ZiKFQ,1733507547,Скасування. Glovo,4215,5499,364,36463,980,0,0,1208422,False,NaN,income,06.12.2024,12,49
70,-WjxZzJYuSL35edgxg,1733504096,Glovo,4215,5499,364,-36463,980,0,0,1230019,False,NaN,outcome,06.12.2024,12,49
75,QOCejQDG7JN0VxnxxA,1733358644,Glovo,4215,5499,605,-60558,980,0,0,1495803,True,NaN,outcome,05.12.2024,12,49
76,LQPmUY6565lKDypTtCkbOsSeJx0,1733358644,Скасування. Glovo,4215,5499,599,59991,980,0,0,1556361,False,NaN,income,05.12.2024,12,49

In [3]:
mono_df['type'] = mono_df['amount'].apply(lambda x:  'income' if int(x) > 0 else 'outcome')
mono_df['amount'] = mono_df['amount'].apply(lambda x:  abs(int(str(x)[:-2])) )
mono_df

,id,time,description,mcc,originalMcc,amount,operationAmount,currencyCode,commissionRate,cashbackAmount,balance,hold,receiptId,type
0,X2L4UyGbf3mHQnmHCg,1736016367,Анатолій К.,4829,4829,715,-71500,980,0,0,1502984,False,T0E9-MC6C-3P2P-A72C,outcome
1,dqY1XO0j5LgB88i-DUL2,1735950685,Glovo,4215,5499,291,-29131,980,0,0,1574484,True,NaN,outcome
2,6cexPC-Cv8T6zid9SkR7vBBmR7M,1735950685,Скасування. Glovo,4215,5499,288,28895,980,0,0,1603615,False,NaN,income
3,5fRWZpgp0bXROL-_vA,1735920286,Glovo,4215,5499,521,-52195,980,0,0,1574720,False,1914-H328-TBHP-KPTP,outcome
4,GGq88fUZiC3i_Vs1Mg,1735905497,EVA,5977,5977,671,-67100,980,0,0,1626915,False,49PX-MK5B-H506-XAC1,outcome
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,X-vyOwhc3BZ6WSgrhQ,1733420561,Glovo,4215,5499,618,-61830,980,0,0,1399573,False,X061-2BCB-8X53-824X,outcome
73,XJ-v1Ex5uzoQImm2KA,1733391988,Magazin Smmarket,5499,5499,144,-14400,980,0,0,1461403,False,788K-M68A-BX47-59HM,outcome
74,B7l77oKWFSlNlbah0A,1733385157,410232****6401,4829,4829,200,-20000,980,0,0,1475803,False,2BPB-518T-K773-453X,outcome
75,QOCejQDG7JN0VxnxxA,1733358644,Glovo,4215,5499,605,-60558,980,0,0,1495803,True,NaN,outcome
76,LQPmUY6565lKDypTtCkbOsSeJx0,1733358644,Скасування. Glovo,4215,5499,599,59991,980,0,0,1556361,False,NaN,income

In [8]:
mono_df.query('full_date == "04.01.2025"')

,id,time,description,mcc,originalMcc,amount,operationAmount,currencyCode,commissionRate,cashbackAmount,balance,hold,receiptId,type,full_date,month_number,week_number
0,X2L4UyGbf3mHQnmHCg,1736016367,Анатолій К.,4829,4829,715,-71500,980,0,0,1502984,False,T0E9-MC6C-3P2P-A72C,outcome,04.01.2025,1,1
1,dqY1XO0j5LgB88i-DUL2,1735950685,Glovo,4215,5499,291,-29131,980,0,0,1574484,True,NaN,outcome,04.01.2025,1,1
2,6cexPC-Cv8T6zid9SkR7vBBmR7M,1735950685,Скасування. Glovo,4215,5499,288,28895,980,0,0,1603615,False,NaN,income,04.01.2025,1,1

In [5]:

# Extract full date, month number, and week number
mono_df['full_date'] = mono_df['time'].apply( lambda x : datetime.fromtimestamp(x).strftime("%d.%m.%Y")) 
mono_df["month_number"] =  mono_df['time'].apply( lambda x : datetime.fromtimestamp(x).month) 
mono_df["week_number"] = mono_df['time'].apply( lambda x : datetime.fromtimestamp(x).isocalendar()[1])

In [22]:
mono_df.to_csv("../data/MonobankTransactionHistory_IRA.csv")